.App {
  text-align: center;
}

.home {
  min-height: 100vh;
}

.about {
  min-height: 100vh;
  display: flex;
}

.headcarousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2%;
  max-height: 80vh;
  overflow: hidden;  
}

.profiledtl{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 2%;
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: space-between; /* Create space between the items */
}

.about img {
  width: 40%; /* Set image to occupy 40% of the width */
  height: auto; /* Maintain aspect ratio */
}

.about div {
  width: 50%; /* Set div to occupy 50% of the width */
  margin-left: 10%; /* Add gap of 10% */
}

body {
  font-family: "monospace, Pacifico, Roboto, Helvetica, Arial, sans-serif";
  background-color: red;
}

.scroll-container::-webkit-scrollbar {
  display: none !important
}